.image-box {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  margin-bottom: 20px;

  overflow: hidden;
}

.image-box-img {
  margin: 0 auto;
  border-radius: 10px;
  object-fit: cover;
  max-width: 100%;
  max-height: 500px;

  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.image-box-description {
  margin: 0 auto;

  display: flex;
  gap: 10px;
}
