.header {
  padding: 10px;
  width: 100%;
  backdrop-filter: blur(4px);
}

.header.dark-theme {
  background: rgba(16, 20, 24, 0.7);
  box-shadow: 0px -1px 0px 1px var(--def-dark-2) inset;
}

.header.light-theme {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px -1px 0px 1px #e2e2e2 inset;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-nav-link {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.header-nav-link.dark-theme:hover,
.header-nav-link.dark-theme:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-nav-link.light-theme:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header-logo {
  margin-right: 5px;
}

.header-list,
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;

  font-size: 20px;
  font-weight: 700;
}

.header-link-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  border-radius: 10px;

  width: 40px;
  height: 40px;

  color: var(--def-light-dark);
  font-size: 24px;
  font-weight: 700;

  transition: background-color 0.2s ease;
}

.header-link-button.dark-theme:hover,
.header-link-button.dark-theme:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-link-button.light-theme:hover,
.header-link-button.light-theme:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.header-link-button.dark-theme {
  border: 1px solid var(--def-dark-2, #1f262e);
}

.header-link-button.light-theme {
  border: 1px solid #e2e2e2;
}

.header-language-button {
  position: relativ e;
  top: -3px;
}
