@import url("../../../css/variables.css");

.mobile-menu-wrapper {
  background: var(--default-dark);

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow-x: hidden;
  overflow-y: auto;

  z-index: 1000;
}

@media screen and (min-width: 1050px) {
  .mobile-menu-wrapper {
    display: none;
  }
}

.close-button {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  font-weight: 700;
  font-size: 20px;
}
