.support-box {
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(43, 13, 173);
  color: #fff;
}

.support-button {
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  border: 2px solid #fff;
  font-weight: bold;
  font-size: 20px;

  display: block;
  margin: 0 auto;
  text-align: center;

  width: 100%;
  max-width: 200px;

  text-transform: uppercase;

  -webkit-transition: background-color 0.3s ease, color 0.3s ease;

  -o-transition: background-color 0.3s ease, color 0.3s ease;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.support-button:hover,
.support-button:focus {
  background-color: #fff;
  color: rgb(43, 13, 173);
}

.support-button:active {
  background-color: #aaa;
}
