.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;

  font-size: 20px;
  font-weight: 700;
}

.header-link-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 5px;
  border-radius: 10px;

  width: 40px;
  height: 40px;

  color: var(--def-light-dark-2);
  font-size: 24px;
  font-weight: 700;

  -webkit-transition: background-color 0.2s ease;

  -o-transition: background-color 0.2s ease;

  transition: background-color 0.2s ease;
}

.header-link-button svg {
  fill: currentColor;
}

.header-link-button.dark-theme:hover,
.header-link-button.dark-theme:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-link-button.light-theme:hover,
.header-link-button.light-theme:focus {
  background-color: var(--global-box-shadow);
}

.header-link-button.dark-theme {
  border: 1px solid var(--def-dark-2);
}

.header-link-button.light-theme {
  border: 1px solid #e2e2e2;
}

.header-language-button {
  position: relative;
  top: -3px;
}
