.book-term-link {
  display: block;
  padding: 10px;
  margin-left: 10px;

  -webkit-transition: background-color 0.2s ease;

  -o-transition: background-color 0.2s ease;

  transition: background-color 0.2s ease;
}

.book-term-link.dark-theme:hover,
.book-term-link.dark-theme:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.book-term-link.light-theme:hover,
.book-term-link.light-theme:focus {
  background-color: var(--global-box-shadow);
}
