.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;

  font-size: 20px;
  font-weight: 700;
}

.header-nav-link {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.header-nav-link.dark-theme:hover,
.header-nav-link.dark-theme:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-nav-link.light-theme:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
