@import url("../../../css/variables.css");

.book-global-box {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .book-global-box {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main {
  position: relative;
  width: 100%;
  padding: 20px;
}

.main *:last-child {
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;

  line-height: 1.8;
}

.back-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-color: inherit;

  width: 100%;
  max-width: 100px;

  font-size: 24px;

  margin-bottom: 20px;
  font-weight: bold;

  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.back-button.dark-theme {
  box-shadow: 0px 0px 0px 1px var(--def-dark-2) inset;
}

.back-button.light-theme {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}
