@import url("../../../css/variables.css");

.book-global-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .book-global-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.main {
  position: relative;
  width: 100%;
  padding: 20px;
}

.main *:last-child {
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;

  line-height: 1.8;
}

.back-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  border-radius: 10px;
  background-color: inherit;

  width: 100%;
  max-width: 100px;

  font-size: 24px;

  margin-bottom: 20px;
  font-weight: bold;

  -webkit-transition: background-color 0.3s ease;

  -o-transition: background-color 0.3s ease;

  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.back-button.dark-theme {
  -webkit-box-shadow: 0px 0px 0px 1px var(--def-dark-2) inset;
  box-shadow: 0px 0px 0px 1px var(--def-dark-2) inset;
}

.back-button.light-theme {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
}
