@import url("../../../css/variables.css");

.book-global-box {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1050px) {
  .book-global-box {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main {
  position: relative;
  width: 100%;
  padding: 20px;
}

.main *:last-child {
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;

  line-height: 1.8;
}
