/* info box */
.info-box {
  --extra: rgb(0, 225, 255);
  --warn: rgb(255, 196, 0);
  --error: rgb(255, 0, 0);

  width: 100%;
  overflow-x: auto;

  border-radius: 10px;

  padding: 15px;

  margin-bottom: 20px;

  display: flex;
  gap: 10px;
}

.info-box.row {
  flex-direction: row;
}

.info-box.column {
  flex-direction: column;
}

.info-box.dark-theme {
  background: rgb(71, 71, 72);
  color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.info-box.light-theme {
  background: rgb(253, 253, 254);
  color: #333;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.info-box-marker {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border-radius: 100%;

  border: 2px solid currentColor;

  font-weight: bold;
}

.extra {
  border-left: 5px solid var(--extra);
  border-right: 5px solid var(--extra);
}

.extra .info-box-marker {
  color: var(--extra);
}

.warn {
  border-left: 5px solid var(--warn);
  border-right: 5px solid var(--warn);
}

.warn .info-box-marker {
  color: var(--warn);
}

.error {
  border-left: 5px solid var(--error);
  border-right: 5px solid var(--error);
}

.error .info-box-marker {
  color: var(--error);
}
