.book-sidebar-map {
  display: none;
  width: 100%;
  max-width: 250px;
}

@media screen and (min-width: 1200px) {
  .book-sidebar-map {
    display: block;
  }
}

.book-sidebar-map.dark-theme {
  border-right: 1px solid var(--def-dark-2);
  background: var(--default-dark);
}

.book-sidebar-map.light-theme {
  border-right: 1px solid #e2e2e2;
  background: #fff;
}

.book-sidebar-list {
  position: sticky;
  top: 10px;
  height: 100vh;
  overflow-y: auto;
}

.sidebar-item {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}

.sidebar-item.dark-theme {
  border-bottom: 1px solid var(--def-dark-2);
}

.sidebar-item.light-theme {
  border-bottom: 1px solid #e2e2e2;
}

.sidebar-item-button {
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;

  transition: background-color 0.2s ease;
}

.sidebar-item-button.dark-theme:hover,
.sidebar-item-button.dark-theme:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-item-button.light-theme:hover,
.sidebar-item-button.light-theme:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.item-button-title {
  flex-grow: 2;
}

.book-term-link {
  display: block;
  padding: 10px;
  margin-left: 10px;

  transition: background-color 0.2s ease;
}

.book-term-link.dark-theme:hover,
.book-term-link.dark-theme:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.book-term-link.light-theme:hover,
.book-term-link.light-theme:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.item-button-status {
  font-size: 25px;
  margin-left: auto;
}
