@import url("../../../../css/variables.css");

.hero {
  padding-top: 100px;
}

@media screen and (min-width: 748px) {
  .hero {
    padding-top: 135px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 160px;
  }
}

.hero.dark-theme {
  background: linear-gradient(180deg, #001425 0%, #141a1f 100%);
  border-bottom: 1px solid var(--def-dark-2);
}

.hero.light-theme {
  background: linear-gradient(180deg, #efefef 0%, #fff 100%);
  box-shadow: 0px -1px 0px 1px #e2e2e2 inset;
}

.hero-title,
.hero-subtitle {
  text-align: center;
}

.hero-title {
  color: var(--primary-bl);
  font-size: 36px;
  font-weight: 700;
}

@media screen and (min-width: 748px) {
  .hero-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 64px;
  }
}

.hero-subtitle {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 40px;
}

@media screen and (min-width: 748px) {
  .hero-subtitle {
    font-size: 34px;
    margin-bottom: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-subtitle {
    font-size: 45px;
  }
}

.hero-subtitle.dark-theme {
  color: #fff;
}

.hero-subtitle.light-theme {
  color: #333;
}

.hero-subtitle span {
  color: var(--primary-bl, #0075ff);
}

.hero-button {
  display: block;
  margin: 0 auto;

  width: 100%;
  max-width: 155px;

  border-radius: 10px;

  background: linear-gradient(180deg, var(--primary-bl) 0%, #004da8 100%);
  box-shadow: 0px 0px 10px 2px var(--primary-bl);

  padding: 10px;

  font-size: 18px;
  font-weight: 700;

  color: #fff;

  text-align: center;
}

@media screen and (min-width: 748px) {
  .hero-button {
    font-size: 24px;
    max-width: 215px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-button {
    font-size: 36px;
    max-width: 270px;
  }
}
