@import url("../../../../css/variables.css");

.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  z-index: 1000;
}

.mobile-menu-wrapper.dark-theme {
  background: var(--default-dark);
}

.mobile-menu-wrapper.light-theme {
  background: #fff;
}

@media screen and (min-width: 1050px) {
  .mobile-menu-wrapper {
    display: none;
  }
}

.close-button {
  width: 30px;
  height: 30px;
  padding: 10px;

  font-weight: 700;
  font-size: 20px;

  color: var(--def-light-dark);
}
