@import url("../../../../css/variables.css");

.about.dark-theme {
  background: var(--default-dark);
}

.about.light-theme {
  background: #fff;
}

.about-title {
  font-size: 12px;
  margin-bottom: 5px;
  text-align: center;
}

@media screen and (min-width: 748px) {
  .about-title {
    text-align: left;
  }
}

.about-p {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (min-width: 748px) {
  .about-p {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
  }
}

.about-p span {
  color: var(--primary-bl);
}

.about-main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  gap: 30px;
}

@media screen and (min-width: 1200px) {
  .about-main-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.about-main-box > canvas {
  width: 100%;
  height: 340px;
}

@media screen and (min-width: 748px) {
  .about-main-box > canvas {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
  }
}

.about-main-box canvas {
  -webkit-box-flex: 1;
  -ms-flex: 1 auto;
  flex: 1 auto;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 675px) {
  .about-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .about-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.about-list-item {
  width: 100%;
  max-width: 212px;

  border-radius: 10px;

  padding: 20px;
}

.about-list-item.dark-theme {
  border: 1px solid var(--def-dark-2);
  background: #141f28;
}

.about-list-item.light-theme {
  border: 1px solid #f2f2f2;
  background: -o-linear-gradient(45deg, #f0f7ff 0%, #fff 100%);
  background: linear-gradient(45deg, #f0f7ff 0%, #fff 100%);
}

.about-list-item:last-child .about-item-text {
  width: 170px;
}

.about-item-logo {
  margin-bottom: 15px;
}

.about-item-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.about-item-text {
  font-size: 14px;
  font-weight: 400;
  width: 172px;
}

.about-item-text.dark-theme {
  color: #b9b9b9;
}

.about-item-text.light-theme {
  color: #818181;
}

.about-button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;

  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 270px;
}

@media screen and (min-width: 1200px) {
  .about-button-box {
    margin-right: 0;
    margin-left: 343px;
  }
}

.about-box-logo {
  margin: 0 auto;
}

.about-button {
  padding: 10px;
  width: 100%;
  text-align: center;

  border-radius: 10px;
  background: var(--primary-bl);

  font-size: 24px;
  font-weight: 700;
  line-height: normal;

  color: #fff;

  -webkit-transition: background 0.2s ease;

  -o-transition: background 0.2s ease;

  transition: background 0.2s ease;
}

.about-button:hover,
.about-button:focus {
  background: #0064d6;
}
