.footer {
  padding: 10px 20px;
  width: 100%;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.footer.dark-theme {
  background: rgba(16, 20, 24, 0.7);
  -webkit-box-shadow: 0px 1px 0px 1px var(--def-dark-2) inset;
  box-shadow: 0px 1px 0px 1px var(--def-dark-2) inset;
}

.footer.light-theme {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 1px 0px 1px #e2e2e2 inset;
  box-shadow: 0px 1px 0px 1px #e2e2e2 inset;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-box-orient: vertical;

  -webkit-box-direction: reverse;

  -ms-flex-direction: column-reverse;

  flex-direction: column-reverse;
  gap: 20px;
}

@media screen and (min-width: 666px) {
  .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;

  font-size: 20px;
  font-weight: 700;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
}

.footer-link-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 5px;
  border-radius: 10px;

  width: 40px;
  height: 40px;

  color: var(--def-light-dark);
  font-size: 24px;
  font-weight: 700;

  -webkit-transition: background-color 0.2s ease;

  -o-transition: background-color 0.2s ease;

  transition: background-color 0.2s ease;
}

.footer-link-button.dark-theme:hover,
.footer-link-button.dark-theme:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-link-button.light-theme:hover,
.footer-link-button.light-theme:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer-link-button.dark-theme {
  border: 1px solid var(--def-dark-2, #1f262e);
}

.footer-link-button.light-theme {
  border: 1px solid #e2e2e2;
}

.footer-language-button {
  position: relativ e;
  top: -3px;
}
.logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
}

.delimeter {
  font-size: 20px;
}

.footer-author-link {
  display: block;
  margin: 0 auto;
}
