.header {
  padding: 10px 20px;
  width: 100%;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 10px;
  }
}

.header.dark-theme {
  background: var(--header-background);
  -webkit-box-shadow: 0px -1px 0px 1px var(--def-dark-2) inset;
  box-shadow: 0px -1px 0px 1px var(--def-dark-2) inset;
}

.header.light-theme {
  background: var(--header-background-light);
  -webkit-box-shadow: 0px -1px 0px 1px var(--header-box-shadow) inset;
  box-shadow: 0px -1px 0px 1px var(--header-box-shadow) inset;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
