.header {
  padding: 10px;
  width: 100%;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.header.dark-theme {
  background: rgba(16, 20, 24, 0.7);
  -webkit-box-shadow: 0px -1px 0px 1px var(--def-dark-2) inset;
  box-shadow: 0px -1px 0px 1px var(--def-dark-2) inset;
}

.header.light-theme {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px -1px 0px 1px #e2e2e2 inset;
  box-shadow: 0px -1px 0px 1px #e2e2e2 inset;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
