@import url("../../../css/variables.css");

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.wrapper.dark-theme {
  background: var(--default-dark);
  color: #fff;
}

.wrapper.light-theme {
  background: #fff;
  color: #333;
}
