@import url("css/variables.css");

.hero {
  padding-top: 100px;
}

@media screen and (min-width: 748px) {
  .hero {
    padding-top: 135px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 160px;
  }
}

.hero.dark-theme {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#001425),
    to(#141a1f)
  );
  background: -o-linear-gradient(top, #001425 0%, #141a1f 100%);
  background: linear-gradient(180deg, #001425 0%, #141a1f 100%);
  border-bottom: 1px solid var(--def-dark-2);
}

.hero.light-theme {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#efefef),
    to(#fff)
  );
  background: -o-linear-gradient(top, #efefef 0%, #fff 100%);
  background: linear-gradient(180deg, #efefef 0%, #fff 100%);
  -webkit-box-shadow: 0px -1px 0px 1px #e2e2e2 inset;
  box-shadow: 0px -1px 0px 1px #e2e2e2 inset;
}

.hero-title,
.hero-subtitle {
  text-align: center;
}

.hero-title {
  color: var(--primary-bl);
  font-size: 36px;
  font-weight: 700;
}

@media screen and (min-width: 748px) {
  .hero-title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 64px;
  }
}

.hero-subtitle {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 40px;
}

@media screen and (min-width: 748px) {
  .hero-subtitle {
    font-size: 34px;
    margin-bottom: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-subtitle {
    font-size: 45px;
  }
}

.hero-subtitle.dark-theme {
  color: #fff;
}

.hero-subtitle.light-theme {
  color: #333;
}

.hero-subtitle span {
  color: var(--primary-bl, #0075ff);
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 20px 10px;

  width: 100%;
  max-width: auto;

  border-radius: 10px;

  background: transparent;
  border: 5px solid var(--primary-bl);
  box-shadow: 0px 0px 10px var(--primary-bl), 0px 0px 15px var(--primary-bl),
    inset 0px 0px 10px var(--primary-bl), inset 0px 0px 15px var(--primary-bl);

  font-size: 18px;
  font-weight: 700;

  color: #d5e9ff;
  text-shadow: 0px 0px 10px var(--primary-bl), 0px 0px 15px var(--primary-bl);

  text-align: center;

  transition-property: box-shadow, text-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 0px 10px var(--primary-bl), 0px 0px 15px var(--primary-bl),
    0px 0px 25px var(--primary-bl), inset 0px 0px 10px var(--primary-bl),
    inset 0px 0px 15px var(--primary-bl), inset 0px 0px 25px var(--primary-bl);
  text-shadow: 0px 0px 10px var(--primary-bl), 0px 0px 15px var(--primary-bl),
    0px 0px 25px var(--primary-bl);
}

@media screen and (min-width: 748px) {
  .hero-button {
    font-size: 24px;
    max-width: 215px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-button {
    font-size: 36px;
    max-width: 300px;
  }
}
