.titleh2 {
  margin-bottom: 20px;
}

.titleh3 {
  margin-top: 50px;
  margin-bottom: 15px;
}

.p {
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.mark {
  padding: 0 5px;
  display: inline-block;
  background: rgba(150, 150, 150, 0.7);

  border-bottom: 2px solid var(--def-light-dark);

  border-radius: 5px;
  color: #fff;
  margin: 0 2px;
}

.link {
  display: inline-block;

  text-decoration: underline;
  color: var(--def-light-dark-2);
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  padding-left: 15px;
  margin: 20px 0;
  letter-spacing: 1px;
}
