.titleh2 {
  margin-bottom: 25px;
}

.titleh3 {
  margin-bottom: 15px;
}

.p {
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.mark {
  padding: 0 5px;
  display: inline-block;
  background: rgba(100, 100, 100, 0.5);
  border: 2px solid #888;
  border-radius: 5px;
  color: #fff;
  margin: 0 2px;
}

.link {
  display: inline-block;
  padding: 0 5px;
  border: 1px solid;
}

.link.dark-theme {
  color: rgb(26, 200, 206);
  border-color: rgb(26, 200, 206);
}

.link.light-theme {
  color: rgb(11, 79, 204);
  border-color: rgb(11, 79, 204);
}

.link.dark-theme:hover {
  background-color: rgb(26, 200, 206);
  color: #fff;
}

.link.light-theme:hover {
  background-color: rgb(11, 79, 204);
  color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 15px;
  margin: 20px 0;
  letter-spacing: 1px;
}
