@import url("./variables.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  line-height: 1;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
}

.main {
  min-height: calc(100vh - 60px);
}

.global-p,
.global-title {
  margin: 0;
}

.global-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.global-link {
  color: currentColor;
  text-decoration: none;
}

.global-button {
  border: none;
  padding: 0;

  cursor: pointer;

  background: none;

  color: currentColor;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.global-img {
  display: block;
}

.section-title {
  font-size: 12px;
  margin-bottom: 5px;
  color: #3c82d4;
  font-weight: 700;
}

.global-section {
  padding: 40px 0;
}

@media screen and (min-width: 748px) {
  .global-section {
    padding: 75px 0;
  }
}

@media screen and (min-width: 1200px) {
  .global-section {
    padding: 100px 0;
  }
}

/* cell */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--flex-items-gap);
}

.flex-container li {
  flex-basis: calc(
    (100% - (var(--flex-items) - 1) * var(--flex-items-gap)) / var(--flex-items)
  );
}
