h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
pre {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  padding: 0;

  cursor: pointer;

  background: none;

  color: currentColor;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

img {
  display: block;
}
