/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 100, 200, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 117, 255, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 117, 255);
}
