.info-box {
  width: 100%;
  overflow-x: auto;

  border-radius: 10px;

  padding: 15px;
  margin-bottom: 20px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 10px;
}

.info-box.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.info-box.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.info-box.dark-theme {
  background: var(--info-box-background);
  color: var(--info-box-text-color);
  -webkit-box-shadow: 0px 1px 2px 0px var(--info-box-box-shadow);
  box-shadow: 0px 1px 2px 0px var(--info-box-box-shadow);
}

.info-box.light-theme {
  background: var(--info-box-background-light);
  color: var(--info-box-text-color-light);
  -webkit-box-shadow: 0px 1px 2px 0px var(--info-box-box-shadow);
  box-shadow: 0px 1px 2px 0px var(--info-box-box-shadow);
}

.info-box-label {
  display: flex;
  gap: 10px;

  align-items: center;

  color: var(--info-box-extra);
  font-size: 17px;
  font-weight: bold;
}

.info-box-marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border-radius: 100%;

  border: 2px solid currentColor;
}

.extra {
  border-left: 5px solid var(--info-box-extra);
}

.extra .info-box-marker {
  color: var(--info-box-extra);
}

.warn {
  border-color: var(--info-box-warn);
}

.warn .info-box-marker {
  color: var(--info-box-warn);
}

.error {
  border-color: var(--info-box-error);
}

.error .info-box-marker {
  color: var(--info-box-error);
}
