@import "css/reset.css";
@import "css/global.css";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  line-height: 1;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 100, 200, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 117, 255, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 117, 255);
}

/* ::selection {
  background-color: rgb(0, 217, 255);
} */
